<main>
  <p>This site was built with Ruby on Rails. I first started learning RoR on November 14th, 2017.
  So far, it is incredibly intuitive. I have started by following the walkthrough on <a href="http://guides.rubyonrails.org/getting_started.html">rubyonrails.org</a>.
  We have a pretty basic blog setup with the ability to Create and view posts. I have also utilized Sass for styling. There are plenty of links 
  for site navigation, as well as Navbar that takes you anywhere you need to go.</p>
  <%= link_to 'My Blog', controller: 'articles' %>
</main>


