<div class="contact-page">
  <h1>Contact Page</h1>
  <ul>
    <li>matt.a.larson@gmail.com</li>
    <li>612.251.6818</li>
    <li><a href="https://www.linkedin.com/in/mattalarson/">LinkedIn</a></li>
    <li><a href="https://twitter.com/mattlarsonmusic">Twitter</a></li>
  </ul>
</div>
