// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #051e3f;
$secondary: #fec159;
$light: #122948;

header {
  background: $primary;
  color: $secondary;
  text-align: center;
  margin-top: -20px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

hr {
  width: 40vw;
  float: left;
}

main {
  text-align: center;
  padding: 2vh 4vw 0 4vw;
}

html, body {
  background: $light;
  color: $secondary;
  font-family: 'Open Sans', sans-serif;
}

footer {
  text-align: center;
  color: $secondary;
  padding-top: 25vh;
}

li {
  list-style: none;
}

a:link { 
  color: #333333;
}
a:visited { 
  color: #FFFFFF;
}
a:hover { 
  color: $secondary;
}
a:active { 
  color: $secondary;
}

nav a {
  color: $secondary;
  text-decoration: none;
  padding: 1em 1em;
}