// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: #d9b3d7;
$secondary: #271639;
$light: lavender;

header {
  background: $primary;
  color: $secondary;
  text-align: center;
  border: 1px solid $secondary;
}

body {
  background: $light;
}

footer {
  text-align: center;
  color: $secondary;
  padding-top: 80vh;
}
