<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Gentium+Basic" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <h1>Welcome to my Rails blog!</h1>
  </header>
  <nav>
    <a href="/welcome/index">Home</a>
    <a href="/about/index">About Page</a>
    <a href="/articles/new">Create Article</a>
    <a href="/articles">My Blog</a>
    <a href="/contact/index">Contact Page</a>
  </nav>
  <body>
    <%= yield %>
  </body>
  <footer>Site built by Matt Larson</footer>
</html>
